<form class="getGEOJSON" action="/" method="GET">
	<input type="hidden" name="url" value="https://apicarto.ign.fr/api/cadastre/parcelle"/>
	<input type="text" name="code_insee"/>
	<input type="text" name="section"/>
	<input type="text" name="numero"/>
	<input type="submit" value="ok"/>
</form>
